@import "../../../../../../style_constants/RESPONSIVE";
.projectCardContainer {
  margin-bottom: 4rem;
  width: 100%;
  height: 20rem;
  background: -webkit-linear-gradient(
    45deg,
    #051937 0%,
    #004d7a 20%,
    #008793 60%,
    #00bf72 70%,
    #a8eb12 100%
  );
  border-radius: 20px;
  display: flex;
  padding: 1rem;
  @media #{$sm-media} {
    flex-direction: column-reverse;
    height: fit-content;
  }
  div {
    width: 50%;
    display: flex;
    @media #{$sm-media} {
      width: 100%;
    }
    &:nth-child(1) {
      flex-direction: column;
      justify-content: space-between;

      h4 {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
      }
    }
    &:nth-child(2) {
      justify-content: center;
      align-items: center;
    }
    .btnContainer {
      width: 100%;

      button {
        @media #{$sm-media} {
          margin: 0 auto;
        }
      }
      @media #{$sm-media} {
        margin-top: 1.5rem;
      }
    }
  }

  &.projectCardVisible {
    animation: cardAnim 1s forwards ease-in-out;
    @keyframes cardAnim {
      0% {
        transform: scale(0.8);
        opacity: 0;
      }
      50% {
        transform: scale(1);
        opacity: 0.8;
      }
      100% {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
  &.projectCardInvisible {
    animation: cardDisappear 1s forwards ease-in-out;
    @keyframes cardDisappear {
      0% {
        transform: scale(1);
        opacity: 1;
      }
      100% {
        transform: scale(0.8);
        opacity: 0;
      }
    }
  }
}
