@import "../../../../../../../constants/COLORS";
@import "../../../../../../../constants/RESPONSIVE";
@import "../../../../../../../constants/MIXINS";

.passwordComponentContainer {
  .passwordContainer {
    @include accountContainer;
    h3 {
      text-align: center;
      margin-bottom: 2rem;
    }
    form {
      > div {
        margin-bottom: 1rem;
      }
    }
  }
}
