@import "../../../style_constants/COLORS";
@import "../../../style_constants/RESPONSIVE";
.btnContainer {
  .btnUi {
    background-color: transparent;
    border-radius: 10px;
    color: $primaryColor;
    width: 20rem;
    height: 3.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    border: $primaryColor 2px solid;
    transition: all 0.3s ease 0s;
    letter-spacing: 0.5px;
    &:hover {
      background-color: $primaryColor;
      color: #fff;
      transform: translateY(-2px);
    }
    @media #{$sm-media} {
      width: 100%;
      padding: 0 2rem;
      font-size: 100%;
    }
  }
}
