@import "../../../../style_constants/RESPONSIVE";
.presentationSectionContainer {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      align-self: flex-start;
    }
    @media #{$sm-media} {
      flex-direction: column;
    }
    div {
      p {
        color: #fff;
        font-family: spaceMono;
        font-size: 0.9rem;
      }
      .amirImgContainer {
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        overflow: hidden;
      }
    }
    .left {
      padding: 1rem;
    }
  }
}
