@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "spaceMono";
  src: url(./assets/fonts/SpaceMono-Regular.ttf);
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Regular.ttf");
}
body,
html {
  background: url("./assets/img/3.png");
  background-size: 124px;
}
html {
  scroll-behavior: smooth;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
h1,
h2,
h3,
h4,
button {
  font-family: spaceMono;
  color: #fff;
}

p {
  font-family: Montserrat;
  color: #fff;
}

li {
  font-family: Montserrat;
  color: #fff;
}
