@import "../../../style_constants/RESPONSIVE";
// @import "../../cssConstants/colors.scss";

.contactContainer {
  display: flex;
  flex-direction: row;
  position: relative;

  transform: translateX(-4rem);
  height: 100vh;

  // form section
  .formContainer {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > div {
      width: 80%;
      margin-bottom: 2rem;
      h3 {
        color: #ba68c8;
        font-size: 0.8rem;
        font-family: Montserrat, sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        background: rgba(255, 255, 255, 0.08);
        padding: 0.5rem 1rem;
        border-radius: 20px;
        width: fit-content;
      }
      h2 {
        color: white;
        font-size: 2rem;
        font-weight: 600;
        font-family: Montserrat, sans-serif;
        align-self: flex-start;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
      gap: 20px;
      .btnContainer {
        width: 100%;
        > div {
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }
    }
  }

  .astroContainer {
    display: flex;
    align-items: flex-end;
    position: relative;
    width: 50%;
    height: 100%;
    .astroImg {
      width: 100%;
      object-fit: contain;
      transform: translateX(-2rem);
    }
    img:not(:last-child) {
      position: absolute;
      width: 5rem;
      height: 5rem;
      animation: 6s infinite planet;
    }
    .planet01 {
      position: absolute;
      width: 2rem !important;
      height: 2rem !important;
      top: 50%;
      right: 20%;
    }
    .planet02 {
      // violet planet
      height: 4rem !important;
      bottom: 30%;
      left: 10%;
    }
    .planet03 {
      // orange planet
      top: 10%;
      right: 10%;
    }
    .planet04 {
      //pink planet
      bottom: 20%;
      left: 80%;
    }
    .planet05 {
      //big yellow and pink planet
      height: 10rem !important;
      width: 10rem !important ;
      top: 10%;
      left: 10%;
    }
    .planet06 {
      //white and blue planet
      width: 8rem !important;
      height: 8rem !important;
      top: 30%;
      right: 30%;
    }
  }

  @keyframes planet {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(7px);
    }
  }
}
// responsive md
@media #{$md-media} {
  .formContainer {
    h2 {
      font-size: 2rem;
    }
    form {
      .submitBtn {
        font-size: 15px;
      }
    }
  }
}
// responsive xs
@media #{$sm-media} {
  .contactContainer {
    flex-direction: column-reverse;
    justify-content: center;
    height: 100%;
    width: 100%;
    transform: translateX(0);
    .formContainer {
      width: 100%;
      z-index: 1;

      align-items: flex-start;
      h2 {
        font-size: 1.5rem;
      }
      form {
        width: 100%;
      }
    }
    .astroContainer {
      width: 100%;
      .astroImg {
        width: 100%;
        position: static;
        transform: translateX(-2rem);
      }
    }

    .planet05,
    .planet06,
    .planet01,
    .planet02,
    .planet04,
    .planet03,
    .planet06 {
      display: none;
    }
  }
}
