@import "../../../style_constants/RESPONSIVE";
.footer {
  .footerContainer {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media #{$sm-media} {
      flex-direction: column;
      gap: 2rem;
    }
    .left {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 30%;
      @media #{$sm-media} {
        width: 100%;
      }
      h1 {
        margin: 1rem 0;
      }
      p {
        font-size: 0.8rem;
        text-align: center;
      }
    }
    .center {
      width: 60%;
      color: #fff;
      text-align: center;
      @media #{$sm-media} {
        width: 100%;
      }
      h2 {
        margin-bottom: 1rem;
      }
      ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 0.5rem;
        li {
          margin-right: 1rem;
        }
      }
    }
    .right {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      @media #{$sm-media} {
        width: 100%;
        flex-direction: row;
      }
    }
  }
  .copyrightsContainer {
    padding: 2rem 0;
    p {
      text-align: center;
    }
  }
}
